.footer{
    @include flex-column;
    padding: $base-scale;
    background-color: $color-footer;
    width: 100%;
    &__title {
        font-family: 'Shrikhand', cursive;
        margin-bottom: $base-scale;
    }
    &__link {
        margin-bottom: 5px;
    }
    & .fas {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        font-size: $base-scale;
        margin-right: 5px;
        width: $base-scale;
    }
    & *{
        color: white;
    }
}