footer {
	padding: $base-scale;
	background-color: $color-footer;
	width: 100%;
	& * {
		color: white;
	}
	.footer-wrap {
		@include big-screen-responsive;
		@include media(desktop) {
			@include flex-center;
		}
	}
	.footer-box {
		width: 100%;
		@include flex-column;
		@include media(tablet-landscape) {
			flex-direction: row;
		}
		&__link {
			margin: 0 $base-scale 0.5 * $base-scale 0;
			@include media(desktop) {
				margin-bottom: 0;
			}
			&--utensils::before {
				font-size: 0.8 * $base-scale;
				width: 1.5 * $base-scale;
				@include font-awesome("\f2e7");
			}
			&--hand::before {
				font-size: 0.8 * $base-scale;
				width: 1.5 * $base-scale;
				@include font-awesome("\f4c4");
			}
		}
		& .fas {
			flex-direction: row;
			justify-content: center;
			font-size: $base-scale;
			margin-right: $base-scale;
			width: $base-scale;
		}
	}
	.cursive {
		margin: 0 $base-scale $base-scale 0;
		@include media(desktop) {
			margin-bottom: 0;
		}
	}
}
