footer{
    padding: $base-scale;
    background-color: $color-footer;
    width: 100%;
    @include flex-column;
    & *{
        color: white;
        display: inline-flex;
    }
.footer-box {
        @include flex-column;
        @include media(tablet-portrait){
            flex-direction: row;
            justify-content: space-between;
        }
        &__link {
            margin-bottom: 5px;
            &--utensils::before{
                width: 1.5*$base-scale;
                @include font-awesome("\f2e7")
            }
            &--hand::before{
                width: 1.5*$base-scale;
                @include font-awesome("\f4c4")
            }
        }
        & .fas {
            flex-direction: row;
            justify-content: center;
            font-size: $base-scale;
            margin-right: 5px;
            width: $base-scale;
        }
    }
}