.menu {
	position: relative;
	z-index: 5;
	padding: 0 $base-scale;
	background-color: $color-background;
	border-radius: 2 * $base-scale 2 * $base-scale 0 0;
	margin-top: -3 * $base-scale;
	@include flex-column;
	&__courses {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
		grid-gap: $base-scale;
		@include media(desktop) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 1fr;
		}
		&__box {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3, 1fr);
			grid-column-gap: 0px;
			grid-row-gap: $base-scale;
		}
		&__dish {
			display: flex;
			background-color: white;
			min-width: 0;
			border-radius: $base-scale;
			overflow: hidden;
			@include shadow;
			&:hover .menu__courses__check::after{
				animation: spin-to-win 750ms forwards;
			}
			&:not(:hover) .menu__courses__check::after{
				animation: spin-out 750ms;
			}
		}
		&__info {
			@include flex-column;
			min-width: 0;
			justify-content: space-between;
			margin: $base-scale;
			width: 100%;
			& h3, span {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
		&__price {
			font-weight: bold;
			margin: auto $base-scale $base-scale auto;
		}
		&__check{
			background-color: $color-tertiary;
			&::after {
				color: white;
				height: 100%;
				width: 0;
				border-radius: 0 $base-scale $base-scale 0;
				@include font-awesome("\f058") {
					@include flex-center;
				}
			}
		}
	}
	&__name {
		display: flex;
		align-content: center;
		justify-content: space-between;
		margin-top: 2 * $base-scale;
	}
	& h2 {
		@include flex-column;
		padding-top: 2.5 * $base-scale;
		text-transform: uppercase;
		font-size: 1.25 * $base-scale;
		font-weight: 300;
		&::after {
			content: "";
			margin-top: 0.35 * $base-scale;
			width: 3 * $base-scale;
			border: solid $color-tertiary;
		}
	}
}
