@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
h1 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
  margin-bottom: 0.15rem;
}

* {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: black;
}

a {
  text-decoration: none;
}

.cursive {
  font-family: 'Shrikhand', cursive;
  font-size: 1.5rem;
  font-weight: 500;
}

.cursive--footer {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.cursive--ohmyfood {
  font-size: 2rem;
}

.gradient-button {
  all: unset;
  color: white;
  background: #9356DC;
  background: linear-gradient(346deg, #9356DC 0%, #FF79DA 100%);
  cursor: pointer;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  -webkit-box-shadow: 2px 1px 8px -3px #000;
          box-shadow: 2px 1px 8px -3px #000;
}

.gradient-button:hover {
  -webkit-box-shadow: 2px 1px 8px 3px #9356DC;
          box-shadow: 2px 1px 8px 3px #9356DC;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.gradient-button--menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4rem auto;
  width: auto;
}

.arrow {
  position: absolute;
  left: 1rem;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.course {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 1rem;
}

.course__dish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
}

.course__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.course__price {
  font-weight: bold;
}

.heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.heart::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  opacity: 0;
  color: transparent;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(0deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-transition: all 750ms;
  transition: all 750ms;
  font-size: 1.6rem;
  position: absolute;
  right: 1rem;
}

.heart:hover::before {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.heart:hover .fa-heart {
  opacity: 0;
}

.fa-heart {
  -webkit-transition: all 750ms;
  transition: all 750ms;
  font-size: 1.6rem;
  position: absolute;
  right: 1rem;
}

.picture {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.picture img {
  width: 100%;
}

header {
  width: 100%;
  padding: 1rem 0 0.5rem;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 1px 8px -3px #000;
          box-shadow: 2px 1px 8px -3px #000;
}

.menu {
  padding: 0 1rem;
  background-color: #F6F6F6;
  border-radius: 1rem 1rem 0 0;
  margin-top: -5px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__courses-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 1rem;
}

.menu__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 300;
}

.menu h2::after {
  content: "";
  width: 10px;
  border: 1mm #99E2D0;
}

footer {
  padding: 1rem;
  background-color: #353535;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer * {
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

footer .footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 600px) {
  footer .footer-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer .footer-box__link {
  margin-bottom: 5px;
}

footer .footer-box__link--utensils::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  width: 1.5rem;
}

footer .footer-box__link--hand::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  width: 1.5rem;
}

footer .footer-box .fas {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  margin-right: 5px;
  width: 1rem;
}
/*# sourceMappingURL=restaurants.css.map */