.course{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: $base-scale;
    &__dish{
        @include flex-column;
        background-color: white;
        border-radius: $base-scale;
        padding: $base-scale;
    }
    &__info{
        display: flex;
        justify-content: space-between;
    }
    &__price{
        font-weight: bold;
    }
}