.cursive{
    font-family: 'Shrikhand', cursive;
    font-size: 1.5*$base-scale;
    font-weight: 500;
    &--footer{
        font-size: $base-scale;
        margin-bottom: $base-scale;
    }
    &--ohmyfood{
        font-size: 2*$base-scale;
    }
}