.heart {
	@include flex-center;
	margin-right: $base-scale;
	width: 2*$base-scale;
	height: 2*$base-scale;
	position: relative;
	&::before {
		opacity: 0;
		color: transparent;
		background-image: linear-gradient(
			0deg,
			rgba(255, 121, 218, 1) 0%,
			rgba(147, 86, 220, 1) 100%
		);
		-webkit-background-clip: text;
		background-clip: text;
		@include heart-values;
	}
	&::after {
		@include heart-values($weight:400);
	}
	&:hover::before {
		opacity: 1;
	}
	&:hover::after {
		opacity: 0;
	}
}

