.heart {
	@include flex-center;
	position: relative;
	&::before {
		@include font-awesome(900, "\f004") {
			opacity: 0;
			color: transparent;
			background-image: linear-gradient(
				0deg,
				rgba(255, 121, 218, 1) 0%,
				rgba(147, 86, 220, 1) 100%
			);
			-webkit-background-clip: text;
			background-clip: text;
			@include heart-values;
		}
	}
	&:hover::before {
		opacity: 1;
		transform: scale(1.1);
	}
	&:hover .fa-heart{
		opacity: 0;
	}
}
.fa-heart {
	@include heart-values;

}

