.explore{
    @include flex-center-column;
    background-color: $color-background;
    align-content: center;
    text-align: center;
    padding-bottom:3.125*$base-scale;
    &__location{
        @include flex-center;
        background-color: $color-location;
        color: black;
        width: 100%;
        padding: $base-scale;
        font-weight: bold;
    }
    & p{
        margin: $base-scale;
    }
    & h1{
        margin-top: 40px;
    }
}