.loading {
	visibility: hidden;
	position: fixed;
	z-index: 10;
	height: 100%;
	width: 100%;
	background-color: $color-loading;
	animation: loading 3s;
	@include flex-center();
	&__circle {
		animation: loading-circle 1s ease 3;
		@include circles;
		@include circle-delay;
	}
}
