.process{
    @include flex-column;
    padding-left: 16px;
    &__button{
        @include flex-center;
        width: fit-content;
        margin-bottom: 16px;
    }
    &__border{
        @include flex-center;
        background-color: $color-explore;
        height: 34px;
        border-radius: 15px;
        font-weight: bold;
        padding: 15px;
    }
    &__number{
        @include flex-center;
        background-color: $color-primary;
        color: white;
        border-radius: 50%;
        width: 19.33px;
        max-height: 19.33px;
    }
    &__stage{
        text-align: center;
    }
    & .fas{
        color: $color-icons;
    }
    & h2{
        margin: 24px 0;
    }
}