.process {
	counter-reset: step;
	padding: 1.25 * $base-scale $base-scale 2.75 * $base-scale;
	&__box {
		margin-bottom: $base-scale;
		padding-left: $base-scale;
		gap: 1.3 * $base-scale;
		@include big-screen-responsive;
		@include flex-column;
		@include media(tablet-landscape) {
			flex-direction: row;
		}
	}
	&__border {
		position: relative;
		background-color: $color-background;
		height: 4.5 * $base-scale;
		width: 100%;
		border-radius: 1.5 * $base-scale;
		padding: $base-scale;
		cursor: pointer;
		@include flex-center(flex-start);
		@include shadow;
		@include process-icons-loop;
		@include hover-effect {
			background-color: scale-color($color-primary, $lightness: 90%);
		}
		&:hover .process__stage::before {
			color: $color-primary;
		}
		&::before {
			position: absolute;
			font-size: 0.8 * $base-scale;
			left: -1 * $base-scale;
			width: 1.5 * $base-scale;
			height: 1.5 * $base-scale;
			content: counter(step);
			counter-increment: step;
			color: white;
			background-color: $color-primary;
			border-radius: 50%;
			display: inline-flex;
			justify-content: center;
			align-items: center;
		}
	}
	&__stage {
		font-weight: bold;
		@include flex-center;
	}
	& h2 {
		@include big-screen-responsive(1.5 * $base-scale, 1.5 * $base-scale);
	}
}
