@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@mixin flex-center-column {
    @include flex-center();
    flex-direction: column;
}

@mixin shadow {
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
}