// flex mixins:

@mixin flex-column {
	display: flex;
	flex-direction: column;
}
@mixin flex-center($justify: center) {
	display: flex;
	justify-content: $justify;
	align-items: center;
}
@mixin flex-center-column {
	@include flex-center();
	flex-direction: column;
}

//media query mixins:

@mixin media($size) {
	@if $size == phone-only {
		@media (max-width: 599px) {
			@content;
		}
	} @else if $size == small-phone {
		@media (max-width: 390px) {
			@content;
		}
	} @else if $size == tablet-portrait {
		@media (min-width: 600px) {
			@content;
		}
	} @else if $size == tablet-landscape {
		@media (min-width: 900px) {
			@content;
		}
	} @else if $size == desktop {
		@media (min-width: 1200px) {
			@content;
		}
	} @else if $size == big-desktop {
		@media (min-width: 1800px) {
			@content;
		}
	}
}

@mixin shadow($color: $color-icons, $spread: -3px) {
	box-shadow: 2px 1px 8px $spread $color;
}

@mixin hover-effect {
	&:hover {
		@include shadow($color-primary, 3px);
		transition: all 200ms;
		transform: scale(1.02);
		@content;
	}
}
@mixin heart-values($weight: 900) {
	transition: all 750ms;
	font-size: 1.6 * $base-scale;
	position: absolute;
	@include font-awesome("\f004", $weight);
}

@mixin font-awesome($unicode, $weight: 900) {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free";
	font-weight: $weight;
	content: $unicode;
	@content;
}

@mixin process-icons {
	color: $color-icons;
	margin: 0 $base-scale;
	font-size: 1.15 * $base-scale;
}

@mixin fade-in-loop($box-iteration: 3, $dish-iteration: 4) {
	@for $i from 1 through $box-iteration {
		&:nth-of-type(#{$i}) {
			$box-delay: 600ms * $i;
			@for $j from 1 through $dish-iteration {
				.menu__courses__dish:nth-of-type(1n + #{$j}) {
					$dish-delay: 200ms * $j;
					animation-delay: $box-delay + $dish-delay;
				}
			}
		}
	}
}

@mixin circles($size: $base-scale) {
	width: $size;
	height: $size;
	border-radius: 50%;
	margin: $base-scale;
	@each $name, $color in $color-map {
		&--#{$name} {
			background-color: $color;
		}
	}
}

@mixin circle-delay {
	@for $i from 1 through 3 {
		&:nth-of-type(#{$i}) {
			animation-delay: $i * 100ms;
		}
	}
}
