$base-scale: 1rem;

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-footer: #353535;
$color-location: #eaeaea;
$color-background: #f6f6f6;
$color-icons: #7e7e7e;
$color-loading: rgba(126, 126, 126, 0.6);

//list for circles mixin

$color-list: $color-primary, $color-secondary, $color-tertiary;

//map for process__stage icons
$icons-map: (
	"mobile": "\f3cd",
	"bars": "\f0c9",
	"store": "\f54e",
);

$icons-list: ("\f3cd", "\f0c9", "\f54e");
